body {
  display: grid;
  grid-template-columns: clamp(250px, 20vw, 300px) 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100svh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 1rem "Roboto";
}

a {
  color: white;
  text-decoration: none;
  display: contents;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
  color: black;
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 1fr;
  padding: 0.25rem 2rem;
  font-weight: bold;
  filter: drop-shadow(0px 5px 5px lightgray);
}

aside {
  background-color: rgb(25, 146, 212);
  color: white;
  font-size: 1.25em;
  font-weight: bold;
  grid-column: 1;
  grid-row: 1 / -1;
  padding: 1rem;
}

section p {
    padding: 0;
  margin: 0;
}

svg {
  width: 24px;
  height: 24px;
  margin: auto;
}

.logo > * > svg {
  width: 48px;
  height: 48px;
}
use {
  margin: auto;
}

li > a,
.logo {
  display: grid;
  grid-template-columns: 48px 1fr;
  column-gap: 1rem;
}
aside > * {
  margin-bottom: 3rem;
}

.logo {
  font-size: 1.5em;
}

button {
  border: none;
  background-color: transparent;
}

.topRow {
  display: grid;
  grid-template-columns: min-content 1fr repeat(3, min-content);
  align-items: center;
  column-gap: 1rem;
  font-size: 1.5rem;
}

form {
  display: contents;
}

.topRow > .profilePic {
  height: 64px;
}

.topRow > .profileName {
  width: max-content;
}
.topRow > * > input {
  border-radius: 14px;
  border-style: none;
  background-color: rgb(187, 187, 187);
  padding: 0.4rem;
}

.bottomRow {
  display: grid;
  grid-template-columns: min-content 1fr repeat(3, min-content);
  align-items: center;
  column-gap: 1rem;
  font-size: 1rem;
}

.bottomRow > .profilePic {
  height: 90px;
}

.greeting > p {
  margin-bottom: 0.5rem;
}

.greeting > .profileName {
  font-size: 2rem;
}

.bottomRow > button {
  background-color: rgb(25, 146, 212);
  color: white;
  font-size: larger;
  padding: 1em 2em;
  border-radius: 2em;
}

main {
  background-color: rgb(226, 232, 240);
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr 1fr;
  padding: 10px 40px 40px;
}

main > section {
  display: grid;
  grid-template-rows: min-content 1fr;
}

.gridContainer {
  display: grid;
}

.projects {
  grid-row: 1/-1;
}

.projects > .gridContainer {
  grid-column: 1;
  grid-row: 2/-1;
  grid-template-columns: repeat(auto-fit, 400px);
  gap: 24px;
}

.announcements {
  grid-column: -1;
  grid-row: 1;
}

.projects > * > article {
  background-color: white;
  padding: 16px;
  border-radius: 10px;
  border-left: goldenrod 10px solid;
  filter: drop-shadow(5px 5px 5px lightgray);
}

h2 {
  grid-row: 1;
  grid-column: 1/-1;
  font-size: larger;
  font-weight: normal;
}

.announcements > .gridContainer {
  grid-template-columns: min-content;
  background-color: white;
  border-radius: 10px;
  padding: 9px 32px 24px;
}

.announcements > * > article > p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: small;
}

.announcements > * > article > h3 {
  white-space: nowrap;
  padding: 0;
  margin: 15px 0px 5px;
  font-size: medium;
}

.announcements > * > article:not(:last-child) {
  padding-bottom: 15px;
  border-bottom: 2px solid lightslategray;
}

.trending {
  grid-column: -1;
  grid-row: -2;
}

.trending>.gridContainer {
  display: grid;
  background-color: white;
  border-radius: 10px;
  padding: 24px;
}

.trending>.gridContainer>section {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(2, min-content);
  font-size: 14px;
  gap: 7px;
}


.trending>.gridContainer>section>img {
  width: 64px;
  grid-column: 1;
  grid-row: 1/-1;
}

.trending>.gridContainer>section>p:first-of-type {
  font-weight: bold;
  margin-top: auto;
}